/* First CSS experience */

/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* CSS Styling - Entire Body (all main content on screen) */
body {
    margin: 0;
    padding: 0;
    background-image: url("grid.png");
    background-size: 150px;
    background-position: top left;
    background-color: #B4DFE5;
    font-family: 'Montserrat';
    color: #151b1d;
}

/* Container class, currently holds header, links, & title */
.container {
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    height: 120px;
    margin-bottom: 0;
    border-bottom-style: solid;
    border-bottom-color: #F4976C;
    border-bottom-width: 2px;
    background-color: #303C6C;
}

/* Header 1 in Header Bar - "Kae Bonaguro" */
h1 {
    float: left;
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 5em;
    color: #F4976C;
}

/* Entire Nav Class - includes nav list & links */
.nav {
    font-size: 1.5em;
}

/* Nav List (all links) */
ul {
    list-style-type: none;
    float: right;
    padding: 10px;
    margin-top: 60px;
    margin-bottom: 0;
    margin-right: 20px;
}

li {
    display: inline;
    margin: 0 0 0 10px;
}

/* Nav List - actual link buttons */
a {
    margin: 0;
    font-size: .75em;
    text-decoration: none;
    background-color: #B4DFE5;
    padding: 10px;
    border: 1px solid #303C6C;
    font-weight: bold;
    text-align: center;
}

a:link {
    color: #151b1d;
}

a:visited {
    background-color: #F4976C;
    color: #233134;
}

/*#233134*/
a:hover {
    background-color: #F4976C;
    color: #233134;
    padding: 10px;
}

/* Main Content that is NOT Header */
main {
    margin: 0;
    padding: 0;
}

section {
    background-color: #fffbef;
    margin: 20px 20px 20px 20px;
    border: 1px solid #303C6C;
    text-align: center;
}

h2 {
    margin: 10px 0 0 10px;
    text-align: center;
    color: #F4976C;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2em;
}


p {
    margin: 0 20px 10px 20px;
    padding: 0;
    color: #151b1d;
    text-align: justify;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

