body {
    margin: 0;
    background-color: #fcfcfc;
    font-family: "Quicksand", sans-serif;
    color: #35393c;
    line-height: 2rem;
    max-width: 100%;
}

#homepage {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
        "intro"
        "skills"
        "projects"
        "education"
        "footer";
    row-gap: 1.5rem;
    justify-items: center;
}

main#intro p {
    margin-top: .5rem;
}

/*general styles*/
.text-dec {
    background: linear-gradient(to top, #f8d53a 50%, transparent 50%);
    font-weight: bold;
    width: fit-content;
}

main#intro,
#skills,
footer,
#education,
#resume,
section#projects {
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: rgba(34, 147, 161, 0.2) 0px 2px 8px 0px;
    width: 95%;
    padding: 1rem;
}

h2 {
    margin: 0 0 1rem 0;
}

li {
    list-style: none;
}

i.fa-star {
    color: #ff785a;
}

/*header styles*/
header {
    grid-area: header;
    text-align: center;
    margin-bottom: 0;
}

body h1 {
    font-family: "Lobster", serif;
    color: #ff785a;
    margin-bottom: 1rem;
}

/*about me styles*/
main#intro {
    grid-area: intro;
    text-align: justify;
}

a i {
    margin: .5rem 0 0 0;
    font-size: 1.75rem;
    color: #ffffff;
    background-color: #2ab7ca;
    padding: 1rem;
    border-radius: 3px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: background-color 500ms;
}

#socials {
    display: flex;
    justify-content: space-evenly;
}

/*skills styles*/
#skills {
    grid-area: skills;
}

#skills>#skill-content>div>ul {
    padding: 0;
}

i.fa-toolbox {
    display: none;
}

section#skills #skill-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

ul>li.skill {
    margin: 0;
}

/*projects styles*/
section#projects {
    grid-area: projects;
}

#project-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 0 0;
    padding: 0;
}

h3 {
    margin: 0;
}

.project-card {
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: rgba(189, 170, 0, 0.3) 0px 2px 8px 0px;
    width: 90%;
    padding: 1rem 1rem;
}

.project-list>h2 {
    padding-left: 1rem;
}

.github-link {
    background-color: #f8d53a;
    font-weight: bold;
    text-decoration: none;
    padding: .5rem 1rem;
    border-radius: 20px;
    transition: background-color 300ms;
    color: #35393c;
}

article.project-card>p {
    font-size: .8rem;
    font-style: italic;
    margin: .5rem 0;
}


/*education styles*/
#education {
    grid-area: education;
}

p.dates {
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;
}

.resume-title {
    margin-bottom: 0;
}

/*footer styles*/

footer {
    grid-area: footer;
    text-align: center;
    margin-bottom: 1rem;
}

footer p {
    margin: -.25rem;
}


@media screen and (min-width: 480px) {

    /*general styles*/
    main#intro,
    #skills,
    footer,
    #education,
    section#projects {
        width: 70%;
    }

    main#intro,
    #skills,
    #education,
    section#projects {
        padding: 2rem;
    }

    h2 {
        padding: 0;
    }

    /*header styles*/
    header h1 {
        margin: 5rem 0 3rem;
        font-size: 3rem;
    }

    /*about-me styles*/
    a i {
        font-size: 3rem;
        padding: 1.5rem;
    }

    a i:hover {
        background-color: #186d79;
        transition: background-color 300ms;
    }

    /*skills styles*/
    section#skills #skill-list {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }

    i.fa-toolbox {
        flex-shrink: 1;
        color: #2ab7ca;
        font-size: 5rem;
        align-self: center;
        display: inline-block;
    }

    p,
    li.skill {
        font-size: 1.2rem;
    }

    /*projects styles*/
    #project-cards {
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    div.project-list>h2 {
        flex-grow: 1;
        flex-basis: 100%;
        padding-left: 0;
    }

    article.project-card {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 2rem;
        flex-basis: 40%;
        flex-shrink: 0;
        /* align-self: stretch; */
    }

    .project-title {
        margin: 0 0 .5rem 0;
        font-size: 1rem;
    }

    .github-link {
        align-self: center;
        height: fit-content;
        width: fit-content;
        padding: .25rem 2rem;
    }

    .github-link:hover {
        background-color: #ff785a;
        transition: background-color 300ms;
    }

    div#project-skills>.skill {
        font-size: .8rem;
    }

    div#project-skills h4 {
        flex-grow: 1;
        flex-basis: 100%;
    }

}