// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$primary: #2ab7ca;
$secondary: #ff785a;
$success: #f8d53a;
$light: #fcfcfc;
$dark: #35393c;
$font-family-base: "Quicksand", sans-serif;

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/list-group";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here

// Basic Styles
// Typography
body h1 {
    font-family: "Lobster", serif;
    color: #ff785a;
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

p.dates {
    font-style: italic;
}

li {
    list-style: none;
    width: 50%;
    font-size: .8rem;
}

.text-dec {
    background: linear-gradient(to top, #f8d53a 50%, transparent 50%);
    font-weight: bold;
    width: fit-content;
}

// Icons
li.list-group-item i {
    color: $secondary;
    font-size: .8rem;
}

a i {
    color: $secondary;
    font-size: 3rem;
}

i {
    color: $primary;
    font-size: 1.5rem;
}

.break {
    color: $primary;
}

// Display
.container {
    border-radius: 3px;
    box-sizing: border-box;
    width: 95%;
    padding: 1rem;
}

.list-group-horizontal > .list-group-item {
    border: none;
}

@media screen and (min-width: 480px) {
    /*general styles*/
    main#intro,
    #skills,
    footer,
    #education,
    section#projects {
        width: 70%;
    }
    
    /*header styles*/
    header h1 {
        
        font-size: 3rem;
    }

    

    /*intro*/
    
   

    // *skills styles*/
    

    /*projects styles*/
    

}

